<div class="config-panel">
  <mc4-title class="heading">
    <mat-icon>settings</mat-icon>
    <span>CONFIGURACIÓN</span>
  </mc4-title>

  <div class="section">
    <h5 class="subheading">TEMA</h5>

    <div class="styles">
      <div (click)="setActiveTheme('mc4-default')" class="style" matRipple>
        <div class="color default">
          <mat-icon *ngIf="(activeTheme$ | async) === 'mc4-default'">check</mat-icon>
        </div>
        <div class="style-name">Default</div>
      </div>

      <div (click)="setActiveTheme('mc4-light')" class="style" matRipple>
        <div class="color light">
          <mat-icon *ngIf="(activeTheme$ | async) === 'mc4-light'">check</mat-icon>
        </div>
        <div class="style-name">Light</div>
      </div>

      <div (click)="setActiveTheme('mc4-dark')" class="style" matRipple>
        <div class="color dark">
          <mat-icon *ngIf="(activeTheme$ | async) === 'mc4-dark'">check</mat-icon>
        </div>
        <div class="style-name">Dark</div>
      </div>

      <div (click)="setActiveTheme('mc4-flat')" class="style" matRipple>
        <div class="color flat">
          <mat-icon *ngIf="(activeTheme$ | async) === 'mc4-flat'">check</mat-icon>
        </div>
        <div class="style-name">Flat</div>
      </div>
    </div>
  </div>

  <div class="section">
    <h5 class="subheading">BARRA DE OPCIONES</h5>

    <div class="section-content">
      <mat-slide-toggle (change)="toolbarVisibleChange($event)" [checked]="toolbarVisible$ | async">Visible
      </mat-slide-toggle>

      <h5 class="subheading">POSICIÓN</h5>

      <mat-radio-group (change)="toolbarPositionChange($event)"
                       [value]="toolbarPosition$ | async"
                       fxLayout="column"
                       fxLayoutGap="12px">
        <mat-radio-button value="above-fixed">Arriba Fijo</mat-radio-button>
        <mat-radio-button value="fixed">Fijo</mat-radio-button>
        <mat-radio-button value="static">Estático</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="section">
    <h5 class="subheading">NAVEGACIÓN</h5>

    <div class="section-content">
      <mat-slide-toggle (change)="sidenavOpenChange($event)" [checked]="sidenavOpen$ | async">Abierto
      </mat-slide-toggle>

      <h5 class="subheading">POSICIÓN</h5>

      <mat-radio-group (change)="navigationChange($event)"
                       [value]="navigation$ | async"
                       fxLayout="column"
                       fxLayoutGap="12px">
        <mat-radio-button value="top">Arriba</mat-radio-button>
        <mat-radio-button value="side">Al Costado</mat-radio-button>
      </mat-radio-group>

      <h5 class="subheading">OPCIONES</h5>

      <mat-checkbox (change)="sidenavCollapsedChange($event)" [checked]="sidenavCollapsed$ | async">Contraido
      </mat-checkbox>
<!--      <mat-checkbox (change)="sidenavUserChange($event)" [checked]="sidenavUserVisible$ | async">Show User Panel-->
<!--      </mat-checkbox>-->
    </div>
  </div>

  <div class="section">
    <h5 class="subheading">PIE DE PAGINA</h5>

    <div class="section-content">
      <mat-slide-toggle (change)="footerVisibleChange($event)" [checked]="footerVisible$ | async">Visible
      </mat-slide-toggle>

      <h5 class="subheading">POSICÓN</h5>

      <mat-radio-group (change)="footerPositionChange($event)"
                       [value]="footerPosition$ | async"
                       fxLayout="column"
                       fxLayoutGap="12px">
        <mat-radio-button value="above-fixed">Encima Fijo</mat-radio-button>
        <mat-radio-button value="fixed">Fijo</mat-radio-button>
        <mat-radio-button value="static">Estatico</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
