<mc4-page-layout mode="card">

  <mc4-page-layout-header>
    <mc4-breadcrumbs [crumbs]="['Page Layouts']" current="Card"></mc4-breadcrumbs>
  </mc4-page-layout-header>

  <mc4-page-layout-content>
    <mc4-card>
      <mc4-card-header>
        <mc4-card-header-heading>Blog Post</mc4-card-header-heading>
      </mc4-card-header>

      <mc4-card-content>
        <mc4-page-layout-demo-content></mc4-page-layout-demo-content>
      </mc4-card-content>
    </mc4-card>
  </mc4-page-layout-content>

</mc4-page-layout>
