<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mc4-card-header>
    <mc4-card-header-heading>
      <div fxLayout="row wrap">
        <div fxFlex="90">
          <h3 class="text-primary">{{data.title}}</h3>
        </div>
        <div fxFlex="10" fxLayoutAlign="end center">
          <button mat-icon-button
                  color="warn"
                  matTooltip="Cancelar"
                  type="button"
                  (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mc4-card-header-heading>
    <mc4-card-header-subheading *ngIf="data.subtitle">{{data.subtitle}}</mc4-card-header-subheading>
  </mc4-card-header>
  <mat-divider></mat-divider>
  <mc4-card-content class="mt10" fxLayout="column">
    <div class="result" fxLayout="column">
      <div fxLayout="column">
        <ng-container *ngFor="let field of fieldList">
          <mat-form-field *ngIf="field.type === 'TEXT_INPUT'"
                          class="mc4-flex-form-field">
            <mat-label>{{field.label}}</mat-label>
            <input matInput
                   type="text"
                   [maxlength]="field.maxlength"
                   [formControlName]="field.name">
            <ng-container *ngFor="let validator of field.validators">
              <mat-error
                *ngIf="form.controls[field.name].hasError(validator.type) && form.controls[field.name].touched"
                class="font-11">{{validator.message}}</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field *ngIf="field.type === 'TEXT_PASSWORD'"
                          class="mc4-flex-form-field">
            <mat-label>{{field.label}}</mat-label>
            <input matInput
                   [type]="field.typeInp"
                   [maxlength]="field.maxlength"
                   [formControlName]="field.name">
            <button (click)="togglePassword(field)" mat-icon-button matSuffix type="button">
              <mat-icon *ngIf="field.typeInp === 'password'">visibility</mat-icon>
              <mat-icon *ngIf="field.typeInp === 'text'">visibility_off</mat-icon>
            </button>
            <ng-container *ngFor="let validator of field.validators">
              <mat-error
                *ngIf="form.controls[field.name].hasError(validator.type) && form.controls[field.name].touched"
                class="font-11">{{validator.message}}</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field *ngIf="field.type === 'NUMBER_INPUT'"
                          class="mc4-flex-form-field">
            <mat-label>{{field.label}}</mat-label>
            <input matInput
                   type="number"
                   [formControlName]="field.name">
            <ng-container *ngFor="let validator of field.validators">
              <mat-error
                *ngIf="form.controls[field.name].hasError(validator.type) && form.controls[field.name].touched"
                class="font-11">{{validator.message}}</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field *ngIf="field.type === 'SELECT'"
                          class="mc4-flex-form-field">
            <mat-label>{{field.label}}</mat-label>
            <mat-select [formControlName]="field.name">
              <mat-option *ngFor="let option of field.selectOptions!.dataList"
                          [value]="option[field.selectOptions.propValue]">
                {{option[field.selectOptions.propShow]}}
              </mat-option>
            </mat-select>
            <ng-container *ngFor="let validator of field.validators">
              <mat-error
                *ngIf="form.controls[field.name].hasError(validator.type) && form.controls[field.name].touched"
                class="font-11">{{validator.message}}</mat-error>
            </ng-container>
          </mat-form-field>
          <div *ngIf="field.type === 'SLIDER'"
               class="mc4-flex-form-field slider-input">
            <mat-slide-toggle [formControlName]="field.name"
                              [color]="'primary'"
                              [checked]="form.controls[field.name].value">
              {{field.label}}
            </mat-slide-toggle>
          </div>
          <mat-form-field *ngIf="field.type === 'TEXT_AREA'"
                          class="mc4-flex-form-field">
            <mat-label>{{field.label}}</mat-label>
            <textarea matInput
                      type="text"
                      [maxlength]="field.maxlength"
                      [formControlName]="field.name"></textarea>
            <ng-container *ngFor="let validator of field.validators">
              <mat-error
                *ngIf="form.controls[field.name].hasError(validator.type) && form.controls[field.name].touched"
                class="font-11">{{validator.message}}</mat-error>
            </ng-container>
          </mat-form-field>
          <mat-form-field *ngIf="field.type === 'DATE'"
                          class="mc4-flex-form-field">
            <mat-label>{{field.label}}</mat-label>
            <input matInput [matDatepicker]="fechaInicio" [formControlName]="field.name"
                   placeholder="Fecha : DD/MM/AAAA *">
            <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #fechaInicio disabled="false"></mat-datepicker>
            <ng-container *ngFor="let validator of field.validators">
              <mat-error
                *ngIf="form.controls[field.name].hasError(validator.type) && form.controls[field.name].touched"
                class="font-11">{{validator.message}}</mat-error>
            </ng-container>
          </mat-form-field>
          <div *ngIf="field.type === 'FILE_INPUT'"
               class="mc4-flex-form-field">
            <mat-label>{{fieldFileLabel(field)}}</mat-label>
            <div fxLayout="row wrap"
                 class="file-label dropzone"
                 mc4DragArea
                 (files)="filesDropped($event, field)"
                 (click)="file.click()">
              <div fxFlex="100" fxLayoutAlign="center center"
                   *ngIf="!fileConfig[field.name]?.length">
                <div class="text-center">Cargar/Arrastrar archivo</div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center center"
                   class="img-container-field"
                   *ngIf="fileConfig[field.name]?.length">
                <img *ngIf="isImage(fileConfig[field.name][0])"
                     [src]="fileConfig[field.name][0].url"
                     width="100"
                     alt="X"/>
                <div *ngIf="!isImage(fileConfig[field.name][0])"
                     class="text-center">
                  {{fileConfig[field.name][0].file.name}}
                </div>
              </div>
              <input #file type="file" hidden (change)="this.loadFiles($event, field)">
            </div>
            <ng-container *ngFor="let validator of field.validators">
              <mat-error *ngIf="form.controls[field.name].hasError(validator.type) && form.controls[field.name].touched"
                         style="margin-top: -10px"
                         class="font-11">{{validator.message}}</mat-error>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </mc4-card-content>
  <mc4-card-actions fxLayoutAlign="center center">
    <button mat-flat-button
            color="primary"
            type="submit" [disabled]="form.invalid">{{data.btnOk}}</button>
  </mc4-card-actions>
</form>
