<mc4-page-layout>

  <mc4-page-layout-header>
    <mc4-breadcrumbs [crumbs]="['Page Layouts']" current="Simple Tabbed"></mc4-breadcrumbs>
  </mc4-page-layout-header>

  <mc4-page-layout-content class="padding-0">
    <mat-tab-group>
      <mat-tab label="Main Tab">
        <div class="padding">
          <mc4-page-layout-demo-content></mc4-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Side Tab">
        <div class="padding">
          <mc4-page-layout-demo-content></mc4-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Extra Tab">
        <div class="padding">
          <mc4-page-layout-demo-content></mc4-page-layout-demo-content>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mc4-page-layout-content>

</mc4-page-layout>
