<mc4-page-layout mode="card">
  <mc4-page-layout-header>
    <mc4-breadcrumbs [crumbs]="['Configuración']" current="Procesos"></mc4-breadcrumbs>
  </mc4-page-layout-header>
  <mc4-page-layout-content>
    <mc4-list name="Procesos" (filterChange)="filterData($event)">
      <div class="actions">
        <button class="mc4-column-filter"
                type="button"
                matTooltip="Recargar"
                (click)="jobListRequest()"
                mat-icon-button>
          <mat-icon>sync</mat-icon>
        </button>
        <button class="mc4-column-filter"
                type="button"
                mat-icon-button
                [matMenuTriggerFor]="optionMenu">
          <mat-icon>apps</mat-icon>
        </button>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex="100" *ngIf="dataSource.data.length > 0">
          <mc4-simple-table [dataSource]="dataSource"
                            [columns]="columns"
                            [withPaginator]="true"
                            [rowActions]="rowActions"
                            [singleRowActions]="singleRowActions"
                            [actionsWidth]="'17%'"
                            [eventManager]="tableEvents"></mc4-simple-table>
        </div>
      </div>
    </mc4-list>
  </mc4-page-layout-content>
</mc4-page-layout>
<mat-menu #optionMenu="matMenu" yPosition="below" xPosition="after">
  <button *ngIf="userActions.repairAction"
          mat-menu-item
          (click)="repararProcesos()">
    <mat-icon color="primary" class="mr5">adjust</mat-icon>Reparar procesos
  </button>
</mat-menu>
