<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-stepper #stepper orientation="vertical">
      <mat-step [stepControl]="pInfoForm">
        <ng-template matStepLabel>Datos personales</ng-template>
        <mc4-info-personal [form]="pInfoForm"
                           [eventManager]="eventManager"></mc4-info-personal>
      </mat-step>
      <mat-step [stepControl]="addressForm">
        <ng-template matStepLabel>Direcciones</ng-template>
        <mc4-direcciones [form]="addressForm"
                         [eventManager]="eventManager"></mc4-direcciones>
      </mat-step>
      <mat-step [stepControl]="directoraForm">
        <ng-template matStepLabel>Directora</ng-template>
        <mc4-directora-consultora-conocida [form]="directoraForm"
                                           [eventManager]="eventManager"></mc4-directora-consultora-conocida>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Felicidades</ng-template>
        <mc4-resumen-contado *ngIf="responseInfo"
                             [resumen]="responseInfo"
                             [eventManager]="eventManager"></mc4-resumen-contado>
      </mat-step>
    </mat-stepper>
  </div>
</div>
